<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
</head>
<body>
<!-- {%include file="$root/template/common/navbar.html"%} --></div>


<div id="body_dash">
<!--   {%include file="$root/template/common/sidebar.html"%} -->
<div id="designer" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sam</div>
    <div id="userTitle">设计师</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../account/designer_dashboard.html"><div id="sidebar_message">12</div>定制项目</a>
      <a class="admin_button" href="../account/designer_manage.html"><div id="sidebar_message">2</div>系统消息</a>
      <a class="admin_button" href="../account/designer_manage.html">我的作品</a>
      <a class="admin_button" href="../account/designer_manage.html">检索物料</a>
      <a class="admin_button" href="../account/designer_manage.html">我的收藏</a>
    </div>    
</div>

  <div id="admin_main">  

    <div id="admin_content">

    <div id ="message_gapline"></div>
    <div id="message_gapline_title">未读消息</div>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX在您的作品XXX发起咨询</div>
        </div>
      </div></a>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX在您的作品XXX发起咨询</div>
        </div>
      </div></a>

  <div id ="message_gapline"></div>
    <div id="message_gapline_title">已读消息</div>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX开始定制您的作品XXX并支付预付款</div>
        </div>
      </div></a>

    <a href="">
      <div id="system_message">
        <div id="message_pic">
          <img src="../../image/t1.jpg">
        </div>
        <div id="message_main">
          <div id="message_time">2017/03/02 Monday 11:32a.m.</div>
          <div id="message_content">用户XXX完成了作品XXX的全部付款</div>
        </div>
      </div></a>


      </div>
    </div>
  </div>

{%include file="$root/template/common/footer.html"%}

  </body>
</html>