<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../page/supplier.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
  <link rel="stylesheet" type="text/css" href="homepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- {%include file="$root/template/common/navbar.html"%} -->
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <a href="designs.html"><div class="nav">设计</div></a>
      <a href="../page/materials.html"><div class="nav choose">物料</div></a>
      <a href="../page/products.html"><div class="nav">物料录入</div></a>
      <a href="../page/products.html"><div class="nav">作品录入</div></a>
      <a href="#"><div class="nav">注册</div></a>
      <a href="#"><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div class="constructor_title">
  <div class="menu_logo"><img id="menu_logo_pic" src="../../image/constructlogo1.jpg"></div>
  <div class="constructor_name">
    <h1>K&Z Construction Company</h1></br>
    K&Z 加州建筑装修公司
  </div>
</div>
<div id="showArea">
  <div class="showArea_bg"></div>
  <img id="showArea_pic" src="../../image/construct2.png">
</div>

<div class="supplier_menu">
  <div class="supplier_menu_button">简介</div>
  <div class="supplier_menu_button supplier_menu_choose">作品</div>
  <div class="supplier_menu_button">服务</div>
</div>

<div id="body">
    <div id="supplier_main_content_grey">


    <div class="mainArea">         
      
              
         </div>
   <!--       <div id="show_more">显示更多</div> -->
    </div> <!-- mainContent -->
</div>

<!--   {%include file="$root/template/common/footer.html"%} -->

  
</body>
</html>

