<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../admin/admin.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  <div id="nav_link1">

      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="body_dash">
  <div class="source_all">
      <div class="source_left">
        <table class="source_table">
          <tr>
            <td colspan="3">产品品类</td>
          </tr>
          <tr>
            <td><input type="checkbox">橱柜</td>
            <td><input type="checkbox">台面</td>
            <td><input type="checkbox">油漆</td>
          </tr>
          <tr>
            <td><input type="checkbox">五金</td>
            <td><input type="checkbox">电器</td>
            <td><input type="checkbox">照明</td>
          </tr>
          <tr>
            <td><input type="checkbox">地板</td>
            <td><input type="checkbox">墙砖</td>
            <td><input type="checkbox">门窗</td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="table_gapline"></div>
            </td>
          </tr>
          <tr>
            <td colspan="3">作品风格</td>
          </tr>
           <tr>
            <td><input type="checkbox">简约</td>
            <td><input type="checkbox">复古</td>
            <td><input type="checkbox">极简</td>
          </tr>
          <tr>
            <td><input type="checkbox">田园</td>
            <td><input type="checkbox">美式</td>
            <td><input type="checkbox">欧式</td>
          </tr>
          <tr>
            <td><input type="checkbox">中式</td>
            <td><input type="checkbox">日式</td>
          </tr>
        </table> 
        <input type="button" class="table_button" value="保存">
      </div>

      <div class="source_right">

        <div class="each_source">
          <div class="checkboxdiv">
              <input type="checkbox">             
          </div>
          <div class="each_img">
            <img src="../../image/header_pic.jpg">
          </div>
        </div>

        <div class="each_source">
          <div class="checkboxdiv">
              <input type="checkbox">
          </div>
          <div class="each_img">
            <img src="../../image/header.jpg">
          </div>
        </div> 

        <div class="each_source">
          <div class="checkboxdiv">
              <input type="checkbox">
          </div>
          <div class="each_img">
            <img src="../../image/header1.jpg">
          </div>
        </div>

        <div class="each_source">
          <div class="checkboxdiv">
              <input type="checkbox">
          </div>
          <div class="each_img">
            <img src="../../image/header6.jpg">
          </div>
        </div> 

        <div class="each_source">
          <div class="checkboxdiv">
              <input type="checkbox">
          </div>
          <div class="each_img">
            <img src="../../image/header4.jpg">
          </div>
        </div> 

        <div class="each_source">
          <div class="checkboxdiv">
              <input type="checkbox">
          </div>
          <div class="each_img">
            <img src="../../image/header5.jpg">
          </div>
        </div> 

        <div class="each_source">
          <div class="checkboxdiv">
              <input type="checkbox">
          </div>
          <div class="each_img">
            <img src="../../image/header7.jpg">
          </div>
        </div> 

      </div>
  </div>
</div>
</body>
</html>