<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Wowkb</title>
<link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
<link rel="stylesheet" type="text/css" href="../common/css/common.css">
<link rel="stylesheet" type="text/css" href="../../admin/admin.css">
</head>
<body>

<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo.png">
  </div>
  
  <div id="nav_link1">
      <a href="designs.html"><div class="nav">设计</div></a>
      <a href="../page/products.html"><div class="nav">产品</div></a>
      <a href="../page/products.html"><div class="nav">物料录入</div></a>
      <a href="../page/products.html"><div class="nav choose">作品录入</div></a>
      <a href="#"><div class="nav">注册</div></a>
      <a href="#"><div id="nav_signup">登陆</div></a>
      <a href="#"><div class="nav">购物车(0)</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="body_dash">
	<div id="admin" class="admin_sidebar">
    	<div id="userPic">
      		<img src="../../image/head.png">
    	</div>
    	<div id="userName">Sarah</div>
    	<div id="userTitle">管理员</div>

    	<div id="admin_sidebar_gapline"></div>

    	<div id="admin_menu">
      		<a class="admin_button choose" href="../admin/admin_dashboard.html">网站状态</a>
      		<a class="admin_button" href="../admin/admin_manage.html">管理物料</a>
      		<a class="admin_button" href="../account/designer_manage.html"><div id="sidebar_message">12</div>认证申请</a>
      		<a class="admin_button" href="../account/designer_manage.html">权限管理</a>
      		<a class="admin_button" href="../account/designer_manage.html">个人信息</a>
    	</div>    
	</div>

	<div id="admin_main">

	  <div class="productLink topspace"><a href="admin_manage.html">管理物料</a>/批量上传/批量上传图片</div>
		<div id="admin_upload">
		  <form  action="/account/admin.php?act=multipics_process" enctype="multipart/form-data"  method="post">
			<input type="file" id="file" name="files[]"  class="custom-file-upload" multiple="multiple"/>
			<input id="multi_pic_submit" type="submit" name="submit" value="提交">
		  </form>
		</div>

        <div id="admin_content">     
      		<a class="multi_submit_save" href="admin_manage.html">保存</a>
    	</div>
	</div>
</div>
</body>
</html>