<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../admin/admin.css">
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
    <!-- {%include file="$root/template/common/sidebar.html"%} -->
<div id="admin" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sarah</div>
    <div id="userTitle">物料商</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">   
      <a class="admin_button" href="../account/designer_manage.html"><div id="sidebar_message">12</div>系统消息</a> 
      <a class="admin_button" href="../admin/admin_manage.html">管理物料</a>
      <a class="admin_button" href="../admin/admin_manage.html">订单管理</a>
      <a class="admin_button" href="../account/designer_manage.html">销售渠道</a>
      <a class="admin_button" href="../account/designer_manage.html">申请认证</a>
      <a class="admin_button" href="../account/designer_manage.html">企业信息</a>

    </div>    
</div>

  <div id="admin_main">     
    <div id="admin_content">
        <div class="application">
          <a href="#"><div class="apply_step">上一步</div></a>
          <form action="" method="post" enctype="multipart/form-data">
            <div class="sub_form_title">政策 Policy
              <div class="sub_form_gapline"></div>
            </div>
            <table class="apply_form">
              <tr>
                <td colspan＝"2"><span>Bounce Check Policy<span class="required">*</span></span>
                <textarea name="description" class="textarea-field input_bottom"></textarea></td>
              </tr>
              <tr>
                <td colspan＝"2"><span>退换货政策<span class="required">*</span></span>
                <textarea name="description" class="textarea-field input_bottom">例如：最晚退换货日期；退款政策；货品缺失或损坏处理和免责条款等</textarea></td>
              </tr>
              <tr>
                <td colspan＝"2"><span>发货信息<span class="required">*</span></span>
                <textarea name="description" class="textarea-field input_bottom">例如：发货周期；最晚发货时间；安装费；组装费；递送费；自提货政策等</textarea></td>
              </tr>
              <tr>
                <td colspan＝"2"><span>产品维修、保养、担保政策<span class="required">*</span></span>
                <textarea name="description" class="textarea-field input_bottom"></textarea></td>
              </tr>
              <tr>
                <td colspan＝"2"><span>产品安装信息<span class="required">*</span></span>
                <textarea name="description" class="textarea-field input_bottom">如何组装/安装产品的手册或视频</textarea></td>
              </tr>

            </table>
              <input type="submit" value="完成" class="apply_button"/>

          </form>
        </div>     
    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>