<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- {%include file="$root/template/common/navbar.html"%} -->
<nav id="navtop" role="navigation" class="navbar navbar-fixed-top navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  id="nav_logo" href="designs.html" class="navbar-brand">
                <img id="nav_logo_pic" src="../../image/logo4.png">
            </a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><div id="nav_sign_signin">TO BE OUR DESIGNER</div></a></li>
                <li><a href="#"><div class="nav_option"><i class="fa fa-user" aria-hidden="true"></i></div></a></li>               
            </ul>
        </div>
</nav>

<div id="body_dash">
<!--    {%include file="$root/templete/common/sidebar.html"%} -->
<div id="designer" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sam</div>
    <div id="userTitle">设计师</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../account/designer_dashboard.html"><div id="sidebar_message">12</div>定制项目</a>
      <a class="admin_button" href="../account/designer_manage.html"><div id="sidebar_message">12</div>系统消息</a>
      <a class="admin_button" href="../account/designer_manage.html">我的作品</a>
      <a class="admin_button" href="../account/designer_manage.html">检索物料</a>
      <a class="admin_button" href="../account/designer_manage.html">我的收藏</a>
    </div>    
</div>

  <div id="admin_main">
      
      <div id="admin_content">
        <a class="button_light" href="designer_upload.html">上传作品</a>
        <!-- <a title="popup" onclick="return popup()"><div id="admin_edit_button">搜索模型库</div></a> -->

        <!-- <form id="search">
          <input id="admin_search" type="text" name="designname" value="作品名搜索">
        </form> -->

      <table id="productList">
        <tr>
          <th>作品图片</th>
          <th>作品名称</th>
          <th>空间尺寸</th>
          <th>上传时间</th>
          <th></th>
        </tr>
        <tr>
          <td><img id="design_pic" src="../../image/t1.jpg"></td>
          <td>美式厨房设计</td>
          <td>10*10</td>
          <td>2017.4.2 14:20p.m.</td>
          <td>
            <a id="edit" href="#">修改</a>
            |
            <a id="delete" href="#">删除</a>
          </td>
        </tr>
        <tr>
          <td><img id="design_pic" src="../../image/t2.jpg"></td>
          <td>美式浴室设计</td>
          <td>8*8</td>
          <td>2017.4.2 14:20p.m.</td>
          <td>
            <a id="edit" href="#">修改</a>
            |
            <a id="delete" href="#">删除</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

{%include file="$root/template/common/footer.html"%}
<script type="text/javascript">
function popup()
{
        window.open("http://www.dreamdu.com/xhtml/", "", "toolbar=no");
        return false;
}
</script>
  </body>
</html>