<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <script src="../../js/product.js"></script>
</head>
<body>
{%include file="$root/template/common/navbar.html"%}

<div id="body_dash">
   <!--  {%include file="$root/template/common/sidebar.html"%} -->

    <div id="designer" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sam</div>
    <div id="userTitle">设计师</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../account/designer_dashboard.html"><div id="sidebar_reddot"></div>定制项目</a>
      <a class="admin_button" href="../account/designer_manage.html"><div id="sidebar_message">12</div>系统消息</a>
      <a class="admin_button" href="../account/designer_manage.html">我的作品</a>
      <a class="admin_button" href="../account/designer_manage.html">检索物料</a>
      <a class="admin_button" href="../account/designer_manage.html">我的收藏</a>
    </div>    
</div>

  <div id="admin_main">
      <div id="admin_label">
          <a id="label_choose">收藏的物料</a>
          <div id="label_blank"></div>
          <a id="label_unchoose" href="designer_collection_designs.html">收藏的设计作品</a>
          <div id="label_blank"></div>
          <a id="label_unchoose" href="designer_collection_designs.html">收藏的产品</a>
      </div>

    <div id="admin_content">
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img src="../../image/p1.png">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XX白色左开门橱柜</div>
            <div class="admin_collect_designer">价格：$XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img src="../../image/p2.png">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XX白色左开门橱柜</div>
            <div class="admin_collect_designer">价格：$XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img src="../../image/p3.png">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XX白色左开门橱柜</div>
            <div class="admin_collect_designer">价格：$XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img src="../../image/p4.png">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XX白色左开门橱柜</div>
            <div class="admin_collect_designer">价格：$XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img src="../../image/p5.png">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XX白色左开门橱柜</div>
            <div class="admin_collect_designer">价格：$XXX</div>
          </div>
        </div>
        <div class="admin_collect">
          <div class="admin_collect_pic">
            <img src="../../image/p6.png">
          </div>
          <div class="admin_collect_delete">删除</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">XX白色左开门橱柜</div>
            <div class="admin_collect_designer">价格：$XXX</div>
          </div>
        </div>
    </div>
  </div>
</div>


{%include file="$root/template/common/footer.html"%}
  </body>
</html>