<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
</head>
<body>
<!-- {%include file="$root/template/common/navbar.html"%} -->
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo.png">
  </div>
  
  <div id="nav_link1">
      <a href="designs.html"><div class="nav">优秀设计</div></a>
      <a href="../page/products.html"><div class="nav choose">购买产品</div></a>
      <a href="#"><div class="nav">注册</div></a>
      <a href="#"><div id="nav_sign_signin">登陆</div></a>
  </div>
</div>


<div id="body_dash">
<!--     {%include file="$root/template/common/sidebar.html"%} -->
<div id="designer" class="admin_sidebar">
    <div id="userPic">
      <img src="../../image/head.png">
    </div>
    <div id="userName">Sam</div>
    <div id="userTitle">设计师</div>

    <div id="admin_sidebar_gapline"></div>

    <div id="admin_menu">
      <a class="admin_button choose" href="../account/designer_dashboard.html"><div id="sidebar_reddot"></div>定制项目</a>
      <a class="admin_button" href="../account/designer_manage.html"><div id="sidebar_message">12</div>系统消息</a>
      <a class="admin_button" href="../account/designer_manage.html">我的作品</a>
      <a class="admin_button" href="../account/designer_manage.html">检索物料</a>
      <a class="admin_button" href="../account/designer_manage.html">我的收藏</a>
    </div>    
</div>
    
    
<div id="admin_main">
    <div class="productLink topspace"><a href="designer_manage.html">管理作品</a>/上传衍生设计作品/第一步：填写作品信息</div>
        
          <form action="" method="post" enctype="multipart/form-data">
            <table class="upload_form">
              <tr>
                <td>作品名称</td>
                <td><input type="text" class="input-field" name="" value="" /></td>
              </tr>
              <tr>
                <td>作品类别</td>
                <td><select id="mySelect1" onchange="myFunction()">
                <option value="customize">家居产品定制</option>
                <option value="renew">室内翻新改造</option>
                <option value="addroom">房屋加建改建</option>
            </select></td>
              </tr>
              <tr>
                <td>作品报价</td>
                <td><input type="text" class="input-field" name="" value="" /></td>
              </tr>
              <tr>
                <td>作品品类</td>
                <td>
                  <label><input name="" type="checkbox" value="" />橱柜</label> 
                <label><input name="" type="checkbox" value="" />台面</label> 
                <label><input name="" type="checkbox" value="" />水槽</label> 
                <label><input name="" type="checkbox" value="" />水龙头</label>
                <label><input name="" type="checkbox" value="" />五金拉手</label> 
                <label><input name="" type="checkbox" value="" />电器</label> 
                <label><input name="" type="checkbox" value="" />餐桌</label> 
                <label><input name="" type="checkbox" value="" />椅子</label>
                <label><input name="" type="checkbox" value="" />沙发</label> 
                <label><input name="" type="checkbox" value="" />厨具</label> 
                <label><input name="" type="checkbox" value="" />摆件</label> 
                <label><input name="" type="checkbox" value="" />浴柜</label>
                <label><input name="" type="checkbox" value="" />镜子</label> 
                <label><input name="" type="checkbox" value="" />床架</label> 
                <label><input name="" type="checkbox" value="" />床垫</label>
                <label><input name="" type="checkbox" value="" />床头柜</label> 
                <label><input name="" type="checkbox" value="" />衣柜</label> 
                <label><input name="" type="checkbox" value="" />电视柜</label> 
                <label><input name="" type="checkbox" value="" />艺术品</label>
                <label><input name="" type="checkbox" value="" />花卉</label> 
              </td>
              </tr>
              <tr>
                <td>设计图片</td>
                <td><input type="file" name="designpicture"></td>
              </tr>
              <tr>
                <td>作品描述</td>
                <td><textarea name="designdetail" rows="10" cols="42" class="textarea-field"></textarea></td>
              </tr>
            </table>
            <input class="submit_button button_left" type="submit" value="提交"/>
          </form>
      </div>
  </div>

<!-- {%include file="$root/template/common/footer.html"%} -->
<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li>Company</li>
            <li>Help</li>
            <li>Media</li>
          </ul>
        </div>

        <div class="bottom_blank"></div>

        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li>Cooperation</li>
            <li>Term of Service</li>
            <li>Privacy and Security</li>
          </ul>
        </div>

        <div class="bottom_blank"></div>


      </div>
      <div class="bottom_share"></div>
    </div>
</div>
 
  </body>
</html>