
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  <div class="nav_search">
      <form>
          <input id="search_input" type="text" placeholder="" required>
          <input id="search_button" type="button" value="搜索">
      </form>
    </div>
  <div id="nav_link1">

      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="body_dash">


  <div class="search_main_content">
      
      <div id="admin_content">
 

      <div class="select_box">
      <div class="select_top_link">
        <ul>
          <li class="upper">所有模型</li>
          <li class="upper"><i class="fa fa-angle-right top_icon" aria-hidden="true"></i>橱柜</li>
          <li class="current"><i class="fa fa-angle-right top_icon" aria-hidden="true"></i>Base Cabinet</li>
        </ul>
      </div>
      </div><!-- select_box -->
      <div class="search_main">
        <div class="left_main">
          <img src="../../image/customize/A7/B21-L.png">
        </div>
        <div class="right_side">
          <div class="right_info">
          <h3>JK-A7-B09R</h3>
          品类：Base Cabinet</br>
          品牌：JK</br>
          款式：A7</br>
          编号：B-21-L</br>
          宽：9<span class="alternative">可选：12”; 15”; 18”; 21”; 24”</span></br>
          高：34－1-2</br>
          深：24</br>
          描述：BASE CABINET WITH ONE DOOR,ONE DRAWER;1 DRWER;1 DOOR;1 ADG.SHELF
        </div>
        <div class="right_gapline"></div>
        <div class="right_info">
          文件格式：.dwg</br>
          文件大小：1.3M
        </div>
        <a title="popup" onclick="return popup()"><div class="right_download">下载模型</div></a>
      </div>


      
    </div>
</div>

<!-- {%include file="$root/template/common/footer.html"%} -->
  </body>
</html>