<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  <div class="nav_search">
      <form>
        
          <input id="search_input" type="text" placeholder="" required>
          <input id="search_button" type="button" value="搜索">
      </form>
    </div>
  <div id="nav_link1">

      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="body_dash">


  <div class="search_main_content">
      
      <div id="admin_content">
        
 
        <div class="search_category">
          <ul>
            <li>Cabinet</br></li>
            <li>BASE CABINET</li>
            <li>DRQWER BASE CABINET</li>
            <li>SINK BAST CABINET</li>
            <li>BASE WASTE BASKET-1 PREDRILLED HOLE</li>
            <li>BASE CORNERT CABINER</li>
            <li>BASE SPECIALTY CABINET</li>
            <li>KNEE DRAWER-1 DRAWER</li>
            <li>WALL CABINET</li>
            <li>WALL DIAGONAL CABINET</li>
            <li>WALL BRIDGE CABINET</li>
            <li>WALL WINE RAVK;GLASS RACK</li>
            <li>ON THE COUNTER CABINET</li>
            <li>WALL SPECLALTY CABINET</li>
            <li>HEARTH WOOD HOOD</li>
            <li>HEARTH WOOD PLER</li>
            <li>HEARTH WOOD PLER-WALL HUNG</li>
            <li>WALL GLASS CABINET-MATCHING INTERIOR</li>
            <li>TALL PANTRY-WITH ROLL-OUT</li>
            <li>TALL OVEN CABINET-WITH 2 DRAWER</li>
            <li>VANITY CABINETS</li>
            <li>DECORA TIVE DOORS</li>
            <li>MOLDINGS,TRIMS,ACCESSORIES</li>
            <li>FILLERS,PANELS,SKIN PANELS</li>
            <li>FILLR RETURN PANEL</li>
            <li>FRIEZE VALANCE</li>
            <li>ARCH VALANCE-FLAT LARGE</li>
            <li>ARCH VALANCE-RAISED DOOR PANEL/REVERSE RAISED ON S1/S2/S8</li>
            <li>ACCENTS,POSTS,CORBELS</li>
            <li>MOLDINGS,TRIMS,ACCESSORIES</li>
            <li>FILLERS,PANELS,SKIN PANELS</li>
            <li>FILLR RETURN PANEL</li>
            <li>FRIEZE VALANCE</li>
            <li>ARCH VALANCE-FLAT LARGE</li>
            <li>GLASS INSERTS-GRID PATTERN</li>
          </ul>
        </div>
        <div class="search_category">
          <ul>
            <li>Accessory</br></li>
            <li>TOUCH UP-FIL-STICK</li>
            <li>TOUCH UP-MARKER</li>
            <li>STAIN-4 OZ</li>
            <li>STAIN-5 GALLON</li>
            <li>10"BALL BEARING GLIDE</li>
            <li>6 WAY ADJ HINGE</li>
            <li>6 WAY ADJ SOFT-CLOSE HINGE</li>
            <li>SOFT-CLOSE ADAPTER</li>
            <li>UPWARD OPEN HINGE</li>
            <li>TRASH BIN-PLASTIC</li>
            <li>WASTE PULL OUT FOR B15</li>
            <li>WASTE PULL OUT FOR B18</li>
            <li>DOOR MOUNT KIT F/RV SERIES SILVE</li>
            <li>EASY REACH FOR BLIND BASE(BBC42)</li>
            <li>BASE SPICE PULL OUT</li>
            <li>20"SINGLE SHELF WITH BEARING</li>         
          </ul>
        </div>
        <div class="search_category">
          <ul>
            <li>Sink</br></li>
            <li>VANITY SINK</li>       
          </ul>
        </div>



    </div>

</div>

  </body>
</html>