<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  <div class="nav_search">
      <form>
          <input id="search_input" type="text" placeholder="" required>
          <input id="search_button" type="button" value="搜索">
      </form>
    </div>
  <div id="nav_link1">

      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="body_dash">


  <div class="search_main_content">
      
      <div id="admin_content">
 

      <div class="select_box">
      <label class="dropdown">
        <select>
                <option selected>按品牌选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按品类选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按型号选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按颜色选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
      </label>
      </div><!-- select_box -->
      <div class="search_main">
        <div class="each_material">
          <img class="material_pic" src="../../image/customize/A7/material.jpg">
          <div class="material_info">
            <div class="info_1">Creme Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <img class="material_pic" src="../../image/customize/CO66/material.jpg">
          <div class="material_info">
            <div class="info_1">Coffee Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <img class="material_pic" src="../../image/customize/J5/material.jpg">
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <img class="material_pic" src="../../image/customize/K10/material.jpg">
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <img class="material_pic" src="../../image/customize/K3/material.jpg">
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <img class="material_pic" src="../../image/customize/K8/material.jpg">
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

        <div class="each_material">
          <img class="material_pic" src="../../image/customize/M01/material.jpg">
          <div class="material_info">
            <div class="info_1">Maple Glazed</div>
          </div>
        </div>

      </div>

      
    </div>

</div>

<!-- {%include file="$root/template/common/footer.html"%} -->
<script type="text/javascript">
function popup()
{
        window.open("http://www.dreamdu.com/xhtml/", "", "toolbar=no,height=600,width=500");
        return false;
}
</script>
  </body>
</html>