<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>


<div id="body">


  <div class="search_main_content">
      
      <div id="admin_content">
      <div class="select_box">
      <label class="dropdown">
        <select>
                <option selected>按品类选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按材质选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按颜色选择</option>
                <option>白色 - White</option>
                <option>黑色 - Black</option>
                <option>浅色 - Light</option>
                <option>深色 - Dark</option>
                <option>棕色 - Brown</option>
                <option>灰色 - Grey</option>
                <option>奶白色 - Off- white</option>
                <option>橘色- Orange</option>
                <option>蓝色 - Blue</option>
                <option>红色 - Red</option>
                <option>绿色 - Green</option>
        </select>
        </label>
        <input class="button_light_input" value="提交">
        <input class="button_orange_input" value="提交选择物料">
      </div><!-- select_box -->

      <div class="search_main">
        <table class="search_material_table">
          <tr>
            <th></th>
            <th>图片</th>
            <th>系统编号</th>
            <th>名称</th>
            <th>品类</th>
            <th>颜色</th>
            <th>材质</th>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td><img class="material_pic" src="../../image/B09R.png"></td>
            <td>1314432141041043</td>
            <td>Creme Maple Glazed</td>
            <td>Base Cabinet</td>
            <td>Creme</td>
            <td>wood</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td><img class="material_pic" src="../../image/customize/CO66/material.jpg"></td>
            <td>1314432141041043</td>
            <td>Creme Maple Glazed</td>
            <td>Base Cabinet</td>
            <td>Creme</td>
            <td>wood</td>
          </tr>
          <tr>
            <td><input type="checkbox"></td>
            <td><img class="material_pic" src="../../image/customize/K10/material.jpg"></td>
            <td>1314432141041043</td>
            <td>Creme Maple Glazed</td>
            <td>Base Cabinet</td>
            <td>Creme</td>
            <td>wood</td>
          </tr>
        </table>
      </div>

      
    </div>

</div>

<!-- {%include file="$root/template/common/footer.html"%} -->
<script type="text/javascript">
function popup()
{
        window.open("http://www.dreamdu.com/xhtml/", "", "toolbar=no,height=600,width=500");
        return false;
}
</script>
  </body>
</html>