<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  <div class="nav_search">
      <form>
          <input id="search_input" type="text" placeholder="" required>
          <input id="search_button" type="button" value="搜索">
      </form>
    </div>
  <div id="nav_link1">

      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="body_dash">


  <div class="search_main_content">
      
      <div id="admin_content">
 

      <div class="select_box">
      <div class="select_top_link">
        <ul>
          <li class="upper">所有物料</li>
          <li class="upper"><i class="fa fa-angle-right top_icon" aria-hidden="true"></i>Cabinet</li>
          <li class="current"><i class="fa fa-angle-right top_icon" aria-hidden="true"></i>Base Cabinet</li>
        </ul>
      </div>
      <label class="dropdown">
        <select>
                <option selected>按品牌选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按品类选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按型号选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按颜色选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
      </label>
      </div><!-- select_box -->
      <div class="search_main">
        <div class="each_model">
          <img class="model_pic" src="../../image/customize/A7/B33.png">
          <div class="model_info">
            <div class="info_1">JK-A7-B09R</div>
          </div>
        </div>

        <div class="each_model">
          <img class="model_pic" src="../../image/customize/A7/B21-L.png">
          <div class="model_info">
            <div class="info_1">JK-A7-B21L</div>
          </div>
        </div>

        <div class="each_model">
          <img class="model_pic" src="../../image/customize/A7/BWBK18-2.png">
          <div class="model_info">
            <div class="info_1">JK-A7-BWBK18</div>
          </div>
        </div>

        <div class="each_model">
          <img class="model_pic" src="../../image/customize/A7/LS3612-L.png">
          <div class="model_info">
            <div class="info_1">JK-A7-LS3612L</div>
          </div>
        </div>

        <div class="each_model">
          <img class="model_pic" src="../../image/customize/A7/W3015.png">
          <div class="model_info">
            <div class="info_1">JK-A7-W3015</div>
          </div>
        </div>

        <div class="each_model">
          <img class="model_pic" src="../../image/customize/A7/W3330.png">
          <div class="model_info">
            <div class="info_1">JK-A7-W330</div>
          </div>
        </div>

        <div class="each_model">
          <img class="model_pic" src="../../image/customize/A7/B33.png">
          <div class="model_info">
            <div class="info_1">JK-A7-B33</div>
          </div>
        </div>

      </div>

      
    </div>

</div>

<!-- {%include file="$root/template/common/footer.html"%} -->
<script type="text/javascript">
function popup()
{
        window.open("http://www.dreamdu.com/xhtml/", "", "toolbar=no,height=600,width=500");
        return false;
}
</script>
  </body>
</html>