<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../account/account.css">
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>


<div id="body">


  <div class="search_main_content">
      
      <div id="admin_content">
      <div class="select_box">
      <label class="dropdown">
        <select>
                <option selected>按品类选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按材质选择</option>
                <option>Blue</option>
                <option >Red</option>
                <option>Green</option>
                <option>Yellow</option>
                <option>Brown</option>
        </select>
        </label>
        <label class="dropdown">
        <select>
                <option selected>按颜色选择</option>
                <option>白色 - White</option>
                <option>黑色 - Black</option>
                <option>浅色 - Light</option>
                <option>深色 - Dark</option>
                <option>棕色 - Brown</option>
                <option>灰色 - Grey</option>
                <option>奶白色 - Off- white</option>
                <option>橘色- Orange</option>
                <option>蓝色 - Blue</option>
                <option>红色 - Red</option>
                <option>绿色 - Green</option>
        </select>
        </label>
      </div><!-- select_box -->

      <div class="search_main">
        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/B09R.png">
          </div>        
          <div class="material_info">
            <div class="info_1">Creme Maple Glazed
            </br><span class="sys_catogory">Base Cabinet</span>
            </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/CO66/material.jpg">
          </div>      
          <div class="material_info">
            <div class="info_1">Coffee Maple Glazed
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/J5/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/K10/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/K3/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/K8/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/M01/material.jpg">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

        <div class="each_material">
          <div class="each_materil_pic">
            <img class="material_pic" src="../../image/customize/A7/B33.png">
          </div>
          <div class="material_info">
            <div class="info_1">Maple Glazed
              </br><span class="sys_num">1314432141041043</span>
            </div>
          </div>
        </div>

      </div>

      
    </div>

</div>

<!-- {%include file="$root/template/common/footer.html"%} -->
<script type="text/javascript">
function popup()
{
        window.open("http://www.dreamdu.com/xhtml/", "", "toolbar=no,height=600,width=500");
        return false;
}
</script>
  </body>
</html>