`<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOWKB</title>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="../../image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../../workdisplay/workdisplay.css">
</head>
<body>
<!--   {%include file="$root/template/common/navbar.html"%} -->
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo.png">
  </div>
  
  <div id="nav_link2">
      <a href="designs.html"><div class="nav">优秀设计</div></a>
      <a href="#"><div class="nav choose">购买产品</div></a>
      <a href="#"><div id="nav_account">
        <img src="../../image/head.png"></div></a>

      <a href="#"><div id="accountName">Sarah</div></a>
      <a href="#"><div class="nav">退出</div></a>
    </div>
</div>



<div id="canvas">
  <div id="work_canvas">
    <div id="work_topbar">
      <div id="topbar_left">
        <a id="left_button" href="#">效果图</a>
        <a id="left_button" href="#">线框图</a>
        <a id="left_button" href="#">透视图</a>
      </div>
      <div id="topbar_right">
        <a id="right_button" href="#">上传图片</a>
        <a id="right_button" href="#">修改报价</a>
      </div>
    </div>

    <div id="work_content">
      <img id="work_content_img" src="../../image/t1.jpg">
      <img id="work_content_img" src="../../image/t2.jpg">
    </div>

    <div id="work_related_products"></div>
  </div>

  <div id="work_rightbar">
    <div id="designer_card">
      <div id="designer_head">
          <img src="../../image/head.png">
      </div>
      <div id="designer_info">
        <div id="designer_name">设计师：XXX</div>
        <div id="designer_contact">000-000-0000 </br> XXXhhhhh@gmail.com</div>
      </div>
      <div id="designer_data">
        <div id="data1">
            <div class="data_number">24</div>
            <div class="data_title">作品数量</div>
        </div>
        <div id="data_gapline"></div>
        <div id="data2">
            <div class="data_number">24</div>
            <div class="data_title">服务用户</div>
        </div>
      </div>
      <div id="designer_button">
        <div id="designer_chat">联系设计师</div>
        <div id="designer_share">分享设计</div>
      </div>
    </div>

    <div id="work_price">
      <div id="price_title">XXX美式厨房设计</div>
      <div id="price">$2999</div>
      <div id="price_buy">开始下单</div>
      <div id="price_list">查看报价详单</div>
    </div>

  </div>
</div>

</body>
</html>