<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../page/page.css">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
</head>
<!--   {%include file="$root/template/common/navbar.html"%} -->
<div id="navbar">
  <div id="nav_logo3">
      <img id="nav_logo_pic" src="../../image/logo3.png">
  </div>
  
  <div id="nav_link1">
      <a href="designs.html"><div class="nav">设计</div></a>
      <a href="../page/products.html"><div class="nav choose">产品</div></a>
      <a href="#"><div class="nav">注册</div></a>
      <a href="#"><div id="nav_signup">登陆</div></a>
      <a href="#"><div class="nav">购物车(0)</div></a>
  </div>
  <div id="nav_bg"></div>
</div> 

<div id="body">
  <div id="container">
    <div id="design_left">
    <div class="design_main">
      <div class="design_main_content">
            <div class="productLink">
              <a href="index.html">主页</a>/
              <a href="products.html">产品</a>/
              厨房高脚旋转椅
            </div>
              <img src="../../image/p1.png">
      </div>
    </div>

    <div id="design_related">
      <div id="related_name">相关产品</div>
      <div id="related_content">
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/p1.png"></div>
          <div id="related_title">xx橱柜单个</div>
          <div id="related_brand">By wowkb</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/p2.png"></div>
          <div id="related_title">XXX橱柜全套</div>
          <div id="related_brand">By wowkb</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/p3.png"></div>
          <div id="related_title">XXX水槽</div>
          <div id="related_brand">By wowkb</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/p4.png"></div>
          <div id="related_title">XXX餐桌</div>
          <div id="related_brand">By wowkb</div>
          <div id="related_price">$125</div>
        </div>
        <div class="related_content_project">
          <div id="related_pic"><img src="../../image/p5.png"></div>
          <div id="related_title">XXX椅子</div>
          <div id="related_brand">By wowkb</div>
          <div id="related_price">$125</div>
        </div>
        
      </div>
    </div>

  </div>

  <div id="side_right">
      <div class="sidebar_right">
        <div class="design_sub_content">       
          <div class="design_sub_intro">
              <div class="productName_detail">厨房高脚旋转椅</div>
              <div class="productBrand_detail">By Create & Barrel</div>
              
              <div class="productPrice_detail">$127</div>
              <div class="productStock">in stock</div>
          </div>
         <button class="buyButton_addcart">加入购物车</button>
         <a id="collect" href="#">加入收藏</a>
         <div class="sub_gapline"></div>
         <div class="productIntro_detail">
              产品详情：</br></br>
              具有良好的性能，木质材料，座椅按照人体工程学，十分舒适。适合厨房、吧台使用。</br></br>
              产品编号: CH1224535</br>
              产品规格：10*10厨房，一套10个橱柜</br>
              材料：木质</br>
              颜色：乳白色
         </div>
      </div>
      </div>
      <div class="sidebar_related">

          <div id="related_name_side">相关设计作品</div>
          <div id="related_content_side">
            <div id="related_project_side">
              <img src="../../image/t1.jpg">
              <div class="related_project_name">XX欧式厨房</div>
              <div class="related_project_designer">设计师XXX</div>
            </div>
            <div id="related_project_side">
              <img src="../../image/t2.jpg">
              <div class="related_project_name">xXX美式厨房</div>
              <div class="related_project_designer">设计师XXX</div>
            </div>
          
          <div id="related_project_side">
              <img src="../../image/t3.jpg">
              <div class="related_project_name">XXX美式厨房</div>
              <div class="related_project_designer">设计师XXX</div>
            </div>
            <div id="related_project_side">
              <img src="../../image/t1.jpg">
              <div class="related_project_name">欧式厨房</div>
              <div class="related_project_designer">设计师XXX</div>
            </div>
          </div>
      </div>
  </div>
  </div>
</div>

<!-- {%include file="$root/template/common/footer.html"%} -->
<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li>关于我们</li>
            <li>联系我们</li>
            <li>加入我们</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <div id="footer_partner">合作伙伴</div>
      <img id="footer_logo" src="../../image/bottom_logo.png">
        </div>
      </div>
    </div>
</div>

</body>
</html>