<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../common/css/return.css">
  <link rel="stylesheet" type="text/css" href="../../page/page.css">
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <a href="designs.html"><div class="nav">设计</div></a>
      <a href="../page/materials.html"><div class="nav choose">物料</div></a>
      <a href="../page/products.html"><div class="nav">物料录入</div></a>
      <a href="../page/products.html"><div class="nav">作品录入</div></a>
      <a href="#"><div class="nav">注册</div></a>
      <a href="#"><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="body">

<div id="single_window">
	<div id="single_window_title">谢谢您的信息</div>
	
  <div id="single_window_main">谢谢你填写退换货申请表，请确认您的退换货信息。将此表打印出来并联系您的物流商，将此表与商品、小票一起退回供货商处，或是联系更换。</div>

  <div id="single_window_table">
     <table id="productList">
        <tr>
          <th>图片</th>
          <th>名称</th>
          <th>品牌</th>
          <th>编号</th>
          <th>颜色</th>
          <th>数量</th>
          <th>单价</th>
          <th>需求</th>        
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p1.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>白色</td>
          <td>5</td>
          <td>$114</td>
          <td>退货</td>
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p2.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>黑色</td>
          <td>2</td>
          <td>$114</td>
          <td>更换</td>
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p3.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>黑色</td>
          <td>6</td>
          <td>$114</td>
          <td>退货</td>
        </tr>
        <tr>
          <td><img id="product_pic" src="../../image/p4.png"></td>
          <td>Creme Maple Glazed</td>
          <td>JK</td>
          <td>B-09R</td>
          <td>黑色</td>
          <td>8</td>
          <td>$114</td>
          <td>退货</td>
        </tr>

      </table>
    
  </div>

	<a href="#"><div class="return_finish">打印</div></a>
</div>

</div>

<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li>关于我们</li>
            <li>联系我们</li>
            <li>加入我们</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <div id="footer_partner">合作伙伴</div>
      <!-- <img id="footer_logo" src="../../image/bottom_logo.png"> -->
        </div>
      </div>
    </div>
</div>
</body>
</html>