<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOWKB</title>

    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/99d52acf31.js"></script>


    <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
<!--
    <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
-->
    <link rel="stylesheet" type="text/css" href="design_detail2.css">

    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=58f5448676d0e100120d89fb&product=inline-share-buttons"></script>
</head>
<body>

<nav id="navtop" role="navigation" class="navbar navbar-fixed-top navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a  id="nav_logo" href="designs.html" class="navbar-brand">
            <img id="nav_logo_pic" src="../../image/logo4.png">
        </a>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><div id="nav_sign_signin">TO BE OUR DESIGNER</div></a></li>
            <li><a href="#"><div class="nav_option"><i class="fa fa-user" aria-hidden="true"></i></div></a></li>
        </ul>
    </div>
</nav>

<div class="design_detail_body">
    <div id="header">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

            <div id="top_share_button">
                <div id="share_buttons" class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <!--<a class="a2a_dd" href="https://www.addtoany.com/share"></a>-->
                    <a class="a2a_button_facebook share_icon"></a>
                    <a class="a2a_button_twitter share_icon"></a>
                    <a class="a2a_button_google_plus share_icon"></a>
                    <a class="a2a_button_linkedin share_icon"></a>
                    <a class="a2a_button_tumblr share_icon"></a>
                    <a class="a2a_button_wechat share_icon"></a>
                </div>
            </div>
            <!-- Wrapper for slides -->
            <div class="carousel-inner header_box" role="listbox">

                <div class="item active">
                    <img class="hero" src="../../image/customize/A7/design.jpg" alt="Chania">
                </div>
                <div class="item">
                    <a href="#"><img class= "hero" src="../../image/customize/CO66/design.jpg" alt="Chania"></a>
                </div>
                <div class="item">
                    <a href="#"><img class="hero" src="../../image/customize/J5/design.jpg" alt="Flower"></a>
                </div>
                <div class="item">
                    <a href="#"><img class="hero" src="../../image/customize/K10/design.jpg" alt="Flower"></a>
                </div>
                <div class="item">
                    <a href="#"><img class="hero" src="../../image/customize/K3/design.jpg" alt="Flower"></a>
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div><!-- header -->

    <!-- 侧边栏按钮 -->
    <div class="right_page_button" id="right_page_button">
        <a href="#" onclick="designer()" class="inline">
            <div class="button top_button" id="button_designer">
                <img src="../../image/designer2.png">
                James
            </div>
        </a>
        <a href="#" onclick="intro()" class="inline">
            <div class="button" id="button_intro">
                <!-- <i class="fa fa-book" aria-hidden="true"></i> -->
                <img  class="side_button_icon" src="../../image/detail_icon1.png">
                Description
            </div>
        </a>
        <a href="#" onclick="list()" class="inline">
            <div class="button"  id="button_list">
                <!-- <i class="fa fa-cube" aria-hidden="true"></i> -->
                <img class="side_button_icon" src="../../image/detail_icon3.png">
                Products
            </div>
        </a>
        <a href="#" onclick="relate_works()" class="inline">
            <div class="button" id="button_relate_works">
                <!-- <i class="fa fa-tags" aria-hidden="true"></i> -->
                <img class="side_button_icon" src="../../image/detail_icon4.png">
                Related Designs
            </div>
        </a>
        <a href="#" onclick="share()" class="inline">
            <div class="button" id="share_button">
                <i class="fa fa-share-alt" aria-hidden="true"></i></br>
                Share
            </div>
        </a>
        <a href="#" class="inline">
            <div class="button bottom_button" id="button_start_customize">
                <!--  <i class="fa fa-caret-right" aria-hidden="true"></i> -->
                <img class="side_button_icon" src="../../image/detail_icon5.png">
                Start Customize
            </div>
        </a>
    </div>
    <a href="#">
        <div class="button bottom_button" id="button_start_customize_small">
            <!--  <i class="fa fa-caret-right" aria-hidden="true"></i> -->
            <img class="side_button_icon" src="../../image/detail_icon5.png">
            Start Customize
        </div>
    </a>

    <div class="right_header_hide" id="right_header">

        <!-- 设计师 -->
        <div id="designer">
            <div class="design_project_designer">
                <img id="design_project_designer_head" src="../../image/designer3.png">
                <div class="design_project_designer_intro">
                    <span class="designer_name">James</span>
                    <span class="designer_major">室内设计</span>
                    <span class="designer_school">Academy of Art University</span>
                    <div class="design_project_designer_des">擅长厨房与卫生间家居设计。擅长传统风格并融入中国传统元素。擅长厨房与卫生间家居设计。擅长传统风格并融入中国传统元素。</div>
                    <div class="designer_software">
                        <span class="software_title">服务范围</span>
                        擅长厨房、橱柜、台面、地板、墙面、油漆
                    </div>
                    <div class="designer_software">
                        <span class="software_title">擅长软件</span>
                        <span class="each_software">AutoCAD</span>
                        <span class="each_software">3DS MAX</span>
                        <span class="each_software">REVIT</span>
                        <span class="each_software">2020 Design</span>
                    </div>

                </div>

            </div>
        </div><!-- basic_info -->

        <!-- 作品介绍 -->
        <div id="design_description">
            <div class="design_intro_top">
                <h3>欧式简约开放式厨房</h3></br>
                以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。
            </div>
        </div><!-- design_description -->

        <!-- 物料清单 -->
        <div id="design_material_list">
            <div class="material_content">
                <h4>Cabinet List</h4>
                <table>
                    <tr>
                        <td>
                            <img src="../../image/B09R.png">
                            <div class="list_word">
                                <h5>標準吊櫃</h5>
                                <div class="material_detail">Color: White </br>Texture: Wood</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../image/B09R.png">
                            <div class="list_word">
                                <h5>玻璃門吊櫃</h5>
                                <div class="material_detail">颜色：白色 | 材质：Wood</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../image/customize/A7/BWBK18-2.png">
                            <div class="list_word">
                                <h5>玻璃門吊櫃帶微波爐槽</h5>
                                <div class="material_detail">颜色：白色 | 材质：Wood</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../image/customize/A7/LS3612-L.png">
                            <div class="list_word">
                                <h5>排風櫃</h5>
                                <div class="material_detail">颜色：白色 | 材质：Wood</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../image/customize/A7/W3015.png">
                            <div class="list_word">
                                <h5>地櫃</h5>
                                <div class="material_detail">颜色：白色 | 材质：Wood</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../image/customize/A7/W3330.png">
                            <div class="list_word">
                                <h5>水槽櫃</h5>
                                <div class="material_detail">颜色：白色 | 材质：Wood</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../image/customize/A7/B33.png">
                            <div class="list_word">
                                <h5>裝飾柱</h5>
                                <div class="material_detail">颜色：白色 | 材质：Wood</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../image/customize/A7/B33.png">
                            <div class="list_word">
                                <h5>红褐色枫木中島地櫃</h5>
                                <div class="material_detail">颜色：白色 | 材质：Wood</div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- 相关作品 -->
        <div id="relate_works">
            <div class="related_design_content">
                <h4>Related Designs</h4>
                <div class="each_relate_design">
                    <img src="../../image/customize/A7/design.jpg">
                    <div class="each_relate_intro">欧式奶油色橱柜</div>
                </div>

                <div class="each_relate_design">
                    <img src="../../image/customize/CO66/design.jpg">
                    <div class="each_relate_intro">欧式奶油色橱柜</div>
                </div>

                <div class="each_relate_design">
                    <img src="../../image/customize/J5/design.jpg">
                    <div class="each_relate_intro">欧式奶油色橱柜</div>
                </div>

                <div class="each_relate_design">
                    <img src="../../image/customize/K10/design.jpg">
                    <div class="each_relate_intro">欧式奶油色橱柜</div>
                </div>

                <div class="each_relate_design">
                    <img src="../../image/customize/K3/design.jpg">
                    <div class="each_relate_intro">欧式奶油色橱柜</div>
                </div>

                <div class="each_relate_design">
                    <img src="../../image/customize/K8/design.jpg">
                    <div class="each_relate_intro">欧式奶油色橱柜</div>
                </div>

            </div>
        </div>

        <div id="share_icons">
            <div class="share_icons_content">
                <h4>Share</h4>
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook share_icon"></a>
                    <a class="a2a_button_twitter share_icon"></a>
                    <a class="a2a_button_google_plus share_icon"></a>
                    <a class="a2a_button_linkedin share_icon"></a>
                    <a class="a2a_button_tumblr share_icon"></a>
                    <a class="a2a_button_wechat share_icon"></a>
                </div>
            </div>
        </div>


    </div><!-- right_header -->
</div><!-- design_detail_body -->

<div class="hidediv" id="form_customize">
    <span id="close_form_customize" class="glyphicon glyphicon-remove"></span>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="form_title">Book Customized Design Service</div>

        <table id="customize">
            <tr>
                <td>Your Name<span class="required">*</span></td>
                <td colspan="2"><input type="text"></td>
            </tr>
            <tr>
                <td>Email<span class="required">*</span></td>
                <td colspan="2"><input type="text"></td>
            </tr>
            <tr>
                <td>Phone</td>
                <td colspan="2"><input type="text"></td>
            </tr>
        </table>
        <input id="form_customize_submitBtn" class="button_blue_input button_pop" type="submit" value="Submit">
    </form>
</div>

<div id="test_screen"></div>
<script type="text/javascript">
    var page_designer = document.getElementById("designer");
    var page_intro = document.getElementById("design_description");
    var page_list = document.getElementById("design_material_list");
    var page_relate_works = document.getElementById("relate_works");

    var form_customize = document.getElementById("form_customize");

    var right_header = document.getElementById("right_header");

    var button_designer = document.getElementById("button_designer");
    var button_intro = document.getElementById("button_intro");
    var button_list = document.getElementById("button_list");
    var button_relate_works = document.getElementById("button_relate_works");

    function designer(){
        if($("#button_designer").hasClass("choose_button")) {
            hide();
        } else {
            show();

            button_designer.className = "choose_button top_button";
            button_intro.className = "button";
            button_list.className = "button";
            button_relate_works.className = "button";
        }

        page_designer.style.display = "block";
        page_intro.style.display = "none";
        page_list.style.display = "none";
        page_relate_works.style.display = "none";
    }

    function intro(){
        if($("#button_intro").hasClass("choose_button")) {
            hide();
        } else {
            show();

            button_designer.className = "button top_button";
            button_intro.className = "choose_button";
            button_list.className = "button";
            button_relate_works.className = "button";
        }

        page_designer.style.display = "none";
        page_intro.style.display = "block";
        page_list.style.display = "none";
        page_relate_works.style.display = "none";
    }

    function list(){
        if($("#button_list").hasClass("choose_button")) {
            hide();
        } else {
            show();

            button_designer.className = "button top_button";
            button_intro.className = "button";
            button_list.className = "choose_button";
            button_relate_works.className = "button";
        }

        page_designer.style.display = "none";
        page_intro.style.display = "none";
        page_list.style.display = "block";
        page_relate_works.style.display = "none";
    }

    function relate_works() {
        if($("#button_relate_works").hasClass("choose_button")) {
            hide();
        } else {
            show();

            button_designer.className = "button top_button";
            button_intro.className = "button";
            button_list.className = "button";
            button_relate_works.className = "choose_button";
        }

        page_designer.style.display = "none";
        page_intro.style.display = "none";
        page_list.style.display = "none";
        page_relate_works.style.display = "block";
    }

    function share() {
        hide();
        if($("#top_share_button").hasClass( "show" )) {
            $("#top_share_button").fadeOut("1000", function () {
                $("#top_share_button").hide();
                $("#top_share_button").removeClass("show").addClass("hide");
            });
        } else {
            $("#top_share_button").fadeIn("1000", function () {
                $("#top_share_button").removeClass("hide").addClass("show");
            });
        }
    }

    $("#header").click(function () {
        hide();
        form_customize.className = "hidediv";
        $("#form_customize").css("display", "none");
    });

    $("#button_designer").mouseenter(function() {
        show();
        button_designer.className = "choose_button top_button";
        button_intro.className = "button";
        button_list.className = "button";
        button_relate_works.className = "button";

        page_designer.style.display = "block";
        page_intro.style.display = "none";
        page_list.style.display = "none";
        page_relate_works.style.display = "none";
    });

    $("#button_intro").mouseenter(function() {
        show();
        button_designer.className = "button top_button";
        button_intro.className = "choose_button";
        button_list.className = "button";
        button_relate_works.className = "button";

        page_designer.style.display = "none";
        page_intro.style.display = "block";
        page_list.style.display = "none";
        page_relate_works.style.display = "none";
    });

    $("#button_list").mouseenter(function() {
        show();

        button_designer.className = "button top_button";
        button_intro.className = "button";
        button_list.className = "choose_button";
        button_relate_works.className = "button";

        page_designer.style.display = "none";
        page_intro.style.display = "none";
        page_list.style.display = "block";
        page_relate_works.style.display = "none";
    });

    $("#button_relate_works").mouseenter(function() {
        show();

        button_designer.className = "button top_button";
        button_intro.className = "button";
        button_list.className = "button";
        button_relate_works.className = "choose_button";

        page_designer.style.display = "none";
        page_intro.style.display = "none";
        page_list.style.display = "none";
        page_relate_works.style.display = "block";
    });

    $("#share_button").mouseenter(function() {
        hide();
        $("#top_share_button").fadeIn("1000", function () {
            $("#top_share_button").removeClass("hide").addClass("show");
        });
    });

    $( document ).ready(function() {
        $("#header").width($(window).width() - 84);
        $("#myCarousel").width($(window).width() - 84);
    });

    $( window ).resize(function() {
        /*
        $("#top_share_button").fadeOut("1000", function () {
            $("#top_share_button").hide();
            $("#top_share_button").removeClass("show").addClass("hide");
        });
        */

        if($("#top_share_button").hasClass("show")) {
            $("#top_share_button").css("right", "0px");
        }

/*
        $("#top_share_button").css("display", "none");
        page_designer.style.display = "block";
        page_intro.style.display = "block";
        page_list.style.display = "block";
        page_relate_works.style.display = "block";
 */

        if($("#button_designer").hasClass("choose_button") ||
                $("#button_intro").hasClass("choose_button") ||
                $("#button_list").hasClass("choose_button") ||
                $("#button_relate_works").hasClass("choose_button")) {
            $('#right_header').css("right", "60px");
        }

        $("#header").width($(window).width() - 84);
        $("#myCarousel").width($(window).width() - 84);
        /*
        $("#top_share_button").removeClass("hide").addClass("show");
        $(".right_page_button .button").width($(window).width());
        $(".share_icon span").width(($(window).width()/7)-2);
        $(".share_icon span").height($(".share_icon span").width());
        $("#button_designer").width($(window).width());
        */
    });

    function show() {
        $("#top_share_button").fadeOut("1000", function () {
            $("#top_share_button").hide();
            $("#top_share_button").removeClass("show").addClass("hide");
        });

        if(!$("#button_designer").hasClass("choose_button") &&
                !$("#button_intro").hasClass("choose_button") &&
                !$("#button_list").hasClass("choose_button") &&
                !$("#button_relate_works").hasClass("choose_button")) {
            right_header.className = "right_header";
            $('#right_header').animate({"right": "60px"}, "slow");
        }
    }

    function hide() {
        if($("#button_designer").hasClass("choose_button") ||
                $("#button_intro").hasClass("choose_button") ||
                $("#button_list").hasClass("choose_button") ||
                //$("#button_relate_material").hasClass("choose_button") ||
                $("#button_relate_works").hasClass("choose_button")) {
            $('#right_header').animate({"right": "-276px"}, "slow");
        }
        button_designer.className = "button top_button";
        button_intro.className = "button";
        button_list.className = "button";
        button_relate_works.className = "button";
    }

    $("#button_start_customize").click(function() {
        if($("#form_customize").hasClass("hidediv")) {
            form_customize.className = "showdiv";
            $("#form_customize").css("display", "block");
        } else {
            form_customize.className = "hidediv";
            $("#form_customize").css("display", "none");
        }
    });
    $("#button_start_customize_small").click(function() {
        if($("#form_customize").hasClass("hidediv")) {
            form_customize.className = "showdiv";
            $("#form_customize").css("display", "block");
        } else {
            form_customize.className = "hidediv";
            $("#form_customize").css("display", "none");
        }
    });

    $("#close_form_customize").click(function () {
        form_customize.className = "hidediv";
        $("#form_customize").css("display", "none");
    });
</script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>