<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <a href="/prewowkb/Tpl/index.html"><div class="nav choose">主页</div></a>
      <a href="/prewowkb/Tpl/designer.html"><div class="nav">设计</div></a>
      <a href="/prewowkb/Tpl/productsupplier.html"><div class="nav">产品</div></a>
      <a href="/prewowkb/Tpl/service.html"><div class="nav">服务</div></a>
      <a href="/prewowkb/Tpl/about.html"><div class="nav">关于我们</div></a>
      <a href="/prewowkb/Tpl/begincustomize.html"><div class="nav">开始定制</div></a>
      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>

  </div>
  <div id="nav_bg"></div>
</div>



<div class="content_form">
    <form action="" method="post" enctype="multipart/form-data">
            <div class="form_title">上传定制方案</div>
            <table id="customize">
              <tr>
                <td><span>作品名称<span class="required">*</span></span></td>
                <td><input type="text" class="input-field" name="title" value="" /></td>
              </tr>
              <tr>
                <td><span>设计师<span class="required">*</span></span></td>
                <td><input type="text" class="input-field" name="title" value="" /></td>
              </tr>
              <tr>
                <td><span>空间尺寸<span class="required">*</span></span></td>
                <td><input type="text" class="input-field" name="size" value="" /></td>
              </tr>
              <tr>
                <td><span>报价<span class="required">*</span></span></td>
                <td><input type="text" class="input-field" name="size" value="" /></td>
              </tr>
              <tr>
                <td>品类</td>
                <td><label><input name="" type="checkbox" value="" />橱柜</label> 
                <label><input name="" type="checkbox" value="" />台面</label> 
                <label><input name="" type="checkbox" value="" />水槽</label> 
                <label><input name="" type="checkbox" value="" />水龙头</label>
                <label><input name="" type="checkbox" value="" />五金拉手</label> 
                <label><input name="" type="checkbox" value="" />电器</label> 
                <label><input name="" type="checkbox" value="" />餐桌</label> 
                <label><input name="" type="checkbox" value="" />椅子</label>
                <label><input name="" type="checkbox" value="" />沙发</label> 
                <label><input name="" type="checkbox" value="" />厨具</label> 
                <label><input name="" type="checkbox" value="" />摆件</label> 
                <label><input name="" type="checkbox" value="" />浴柜</label>
                <label><input name="" type="checkbox" value="" />镜子</label> 
                <label><input name="" type="checkbox" value="" />床架</label> 
                <label><input name="" type="checkbox" value="" />床垫</label>
                <label><input name="" type="checkbox" value="" />床头柜</label> 
                <label><input name="" type="checkbox" value="" />衣柜</label> 
                <label><input name="" type="checkbox" value="" />电视柜</label> 
                <label><input name="" type="checkbox" value="" />艺术品</label>
                <label><input name="" type="checkbox" value="" />花卉</label> 
              </td>
              </tr>
              <tr>
                <td><span>作品图片<span class="required">*</span></span></td>
                <td><input type="file" name="supplier_authorization"></td>
              </tr>

              <tr>
                <td><span>作品描述</span></td>
                <td><textarea name="description" class="textarea-field"></textarea></td>
              </tr>
              <tr>
                <td><span>物料图片<span class="required">*</span></span></td>
                <td><input type="file" name="supplier_authorization"></td>
              </tr>
            </table>
              <input class="submit_button" type="submit" value="提交"> 
    </form>          
</div>
  </body>
</html>