<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Wow Kitchen & Bath</title>
    <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
    <link rel="stylesheet" type="text/css" href="design_detail.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/99d52acf31.js"></script>

</head>
<body>
<div id="navbar">
    <div id="nav_logo">
        <img id="nav_logo_pic" src="../../image/logo4.png">
    </div>

    <div id="nav_link1">
        <a href="/prewowkb/Tpl/index.html"><div class="nav">主页</div></a>
        <a href="/prewowkb/Tpl/designer.html"><div class="nav">设计</div></a>
        <a href="/prewowkb/Tpl/productsupplier.html"><div class="nav">产品</div></a>
        <a href="/prewowkb/Tpl/service.html"><div class="nav">服务</div></a>
        <a href="/prewowkb/Tpl/about.html"><div class="nav">关于我们</div></a>
        <a href="/prewowkb/Tpl/begincustomize.html"><div class="nav">开始定制</div></a>
        <a href=""><div class="nav">注册</div></a>
        <a href=""><div id="nav_sign_signin">登陆</div></a>
    </div>
    <div id="nav_bg"></div>
</div>

<div class="design_detail_body">
    <div id="header">
        <!--   <div id="supplier_header"></div> -->

        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner header_box" role="listbox">

                <div class="item active">
                    <!--         <div class="bottom_box">
                              <ul>
                                <li><div class="replace_box"><img src="../../image/customize/A7/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/CO66/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/J5/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/K10/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/K3/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/K8/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/M01/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/S1/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/S2/material.jpg"></div></li>
                                <li><div class="replace_box"><img src="../../image/customize/S8/material.jpg"></div></li>
                              </ul>
                            </div> -->
<!--                     <div class="box_content">
                        以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。ok
                    </div> -->

                    <div class="box_content">
                        以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。ok
                    </div>
                    <img class="hero" src="../../image/customize/A7/design.jpg" alt="Chania">
                </div>

                <div class="item">
                    <!-- <div class="box_content">
                        以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。
                    </div> -->
                    <a href="#"><img class= "hero" src="../../image/customize/CO66/design.jpg" alt="Chania"></a>
                </div>

                <div class="item">
                    <!-- <div class="box_content">
                        以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。
                    </div> -->
                    <a href="#"><img class="hero" src="../../image/customize/J5/design.jpg" alt="Flower"></a>
                </div>

                <div class="item">
                    <!-- <div class="box_content">
                        以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。
                    </div> -->
                    <a href="#"><img class="hero" src="../../image/customize/K10/design.jpg" alt="Flower"></a>
                </div>

                <div class="item">
                    <!-- <div class="box_content">
                        以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。
                    </div> -->
                    <a href="#"><img class="hero" src="../../image/customize/K3/design.jpg" alt="Flower"></a>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div><!-- header -->

    <!-- 侧边栏按钮 -->
    <div class="right_page_button_hide" id="right_page_button">
        <a href="#" onclick="designer()" class="inline">
            <div class="designer_button" id="button_basic">
                <img  class="design_designer" src="../../image/designers/james.png">James
            </div>
        </a>
        <a href="#" onclick="basic()" class="inline">
            <div class="button" id="button_basic">
                <i class="fa fa-home" aria-hidden="true"></i></br>作品价格
            </div>
        </a>

        <a href="#" onclick="intro()" class="inline">
            <div class="button" id="button_intro">
                <i class="fa fa-book" aria-hidden="true"></i></br>作品介绍
            </div>
        </a>

        <a href="#" onclick="list()" class="inline">
            <div class="button" id="button_list">
                <i class="fa fa-cube" aria-hidden="true"></i></br>物料清单
            </div>
        </a>

        <a href="#" onclick="product()" class="inline">
            <div class="button" id="button_product">
                <i class="fa fa-tags" aria-hidden="true"></i></br>相关物料
            </div>
        </a>

        <a href="#" onclick="product()" class="inline">
            <div class="button" id="button_product">
                <i class="fa fa-tags" aria-hidden="true"></i></br>相关作品
            </div>
        </a>

        <a href="#" onclick="product()" class="inline">
            <div class="button" id="button_product">
                <i class="fa fa-tags" aria-hidden="true"></i></br>开始定制
            </div>
        </a>

    </div>

    <div class="right_header_hide" id="right_header">

        <div id="basic_info">
            <div class="design_project_designer">
                <img id="design_project_designer_head" src="../../image/designers/james.png">
                <div class="design_project_designer_intro">
                    <span class="designer_name">James</span>
                    <div class="design_project_designer_des">擅长厨房与卫生间家居设计。擅长传统风格并融入中国传统元素。</div>
                </div>
            </div>

            <div class="design_title">
                欧式简约开放式厨房</div>
            <div class="design_sf">
                <i class="fa fa-home" aria-hidden="true"></i>
                4940.00 SQ/FT</br><i class="fa fa-cog" aria-hidden="true"></i> D:10&#215;W:22&#215;H:10
            </div>

            <div class="design_project_detail_price"><span class="price_number">$10,000.00</span><i class="fa fa-calculator price_icon" aria-hidden="true"></i></div>


            <div class="design_button">开始定制</div>
            <div class="design_share">
                <ul>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                    <li><i class="fa fa-tumblr" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div><!-- basic_info -->

        <div id="design_description">
            <div class="design_intro_top">
                <h3>欧式简约开放式厨房</h3>
                以实用、对比为理念，选用欧式风格的主要家具物料搭配简单的其他物料做衬托，设计出一款温暖大气的开放式厨房。厨房连接后花园门，使整個空間行走更流暢且更方便。
            </div>
            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon1.png">
                <h5>橱柜</h5>
                <p>
                    在開放式厨房的前方設計了一個完整的中島，配有地櫃。 讓整個空間不會太過於空曠以外還增加了儲物空間。 爲了使整個厨房不會過於呆板，三個吊櫃改用玻璃櫃們，看起來更清晰。通風櫃的設計可以擋住不太雅觀的排風扇。 橱柜形状为L型设计；红褐色枫木橱柜放置于厨房前方用于制作摆放食物；为奶油色枫木地柜x7、水槽柜x1、吊柜x3、玻璃门吊柜x3、通风柜x1、微波炉槽x1、装饰填料x15、 红褐色枫木中岛地柜x6、把手x50、
                </p>
            </div>

            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon2.png">
                <h5>把手</h5>
                <p>
                    所有橱柜搭配簡單金屬把手对应安装配件x若干。
                </p>
            </div>

            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon3.png">
                <h5>台面</h5>
                <p>
                    搭配物料为花岗岩台面、所有臺面選用的是花崗岩臺面， 可以很好的防水、隔熱、耐磨、以及好清理。 中島選用了紅褐色楓木地櫃搭配花崗岩臺面。 可以很好的與地板顔色呼應。主要櫥櫃和裝飾選用了奶油色的楓木材質，
                </p>
            </div>

            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon4.png">
                <h5>墙面</h5>
                <p>
                    可以與深色大理石墻面做一個反差， 讓整個空間不會太單一。
                </p>
            </div>

            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon5.png">
                <h5>地板</h5>
                <p>
                    樱桃色硬木地板、櫻桃色硬木地板增加了防滑塗料。即使有水落在地面也不會輕易滑倒。
                </p>
            </div>

            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon6.png">
                <h5>照明</h5>
                <p>
                    及並在中島搭配了簡單的吊燈吊灯。，讓厨房更温暖的同时可以衬托主要设计。
                </p>
            </div>

            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon7.png">
                <h5>油漆</h5>
                <p></p>
            </div>

            <div class="design_intro_detail">
                <img class="design_detail_image" src="../../image/designicon/icon8.png">
                <h5>电器</h5>
                <p></p>
            </div>
        </div><!-- design_description -->

        <div id="design_material_list">
            <div class="material_content">
                <h4>欧式简约开放式厨房物料清单</h4>
                <table>
                    <tr>
                        <td>
                            <h5>標準吊櫃<span class="material_num">&#215;3</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>玻璃門吊櫃<span class="material_num">&#215;2</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>玻璃門吊櫃帶微波爐槽<span class="material_num">&#215;1</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>排風櫃<span class="material_num">&#215;1</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>地櫃<span class="material_num">&#215;7</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>水槽櫃<span class="material_num">&#215;1</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>裝飾柱<span class="material_num">&#215;6</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>红褐色枫木中島地櫃<span class="material_num">&#215;6</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>花岗岩臺面<span class="material_num">&#215;2</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>金属把手<span class="material_num">&#215;50</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>玻璃吊燈<span class="material_num">&#215;4</span></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>對應裝飾木條及配件<span class="material_num">&#215;若干</span></h5>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="design_material_intro">
            <div class="material_content">
                <h4>欧式简约开放式厨房产品信息</h4>
                <table>
                    <tr>
                        <td>
                            <h5>橱柜<span class="material_num">&#215;27</span></h5>
                            材質：楓木</br>
                            顔色：奶油、紅褐色
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>臺面<span class="material_num">&#215;2</span></h5>
                            輪廓： 直方角邊</br>
                            材質： 花崗岩</br>
                            顔色： Shivakashi granite
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>吊燈<span class="material_num">&#215;4</span></h5>
                            尺寸： 39.75”W x 9.63”D</br>
                            綫長： 16.38” - 35.38”</br>
                            杆長： 28.5”</br>
                            整體高度： 36.75”</br>
                            材質： 金屬、玻璃
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>地板<span class="material_num"></span></h5>
                            材質： 硬木</br>
                            顔色： 巴西櫻桃</br>
                            尺寸： 4.875”W x 0.5”D
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h5>把手<span class="material_num">&#215;50</span></h5>
                            材質： 金屬</br>
                            處理： 緞鎳</br>
                            尺寸： 4.06”W x 0.43”H x 0.77”D
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div><!-- right_header -->
</div><!-- design_detail_body -->
<script type="text/javascript">
    var page_basic = document.getElementById("basic_info");
    var page_intro = document.getElementById("design_description");
    var page_list = document.getElementById("design_material_list");
    var page_product = document.getElementById("design_material_intro");

    var right_page_button = document.getElementById("right_page_button");
    var right_header = document.getElementById("right_header");

    var button_basic = document.getElementById("button_basic");
    var button_intro = document.getElementById("button_intro");
    var button_list = document.getElementById("button_list");
    var button_product = document.getElementById("button_product");

    function basic(){
        if($("#right_page_button").hasClass("right_page_button") && $("#button_basic").hasClass("choose_button")) {
            hide();
        } else {
            show();
        }

        button_basic.className = "choose_button";
        button_intro.className = "button";
        button_list.className = "button";
        button_product.className = "button";

        page_basic.style.display = "block";
        page_intro.style.display = "none";
        page_list.style.display = "none";
        page_product.style.display = "none";

    }

    function intro(){
        if($("#right_page_button").hasClass("right_page_button") && $("#button_intro").hasClass("choose_button")) {
            hide();
        } else {
            show();
        }

        button_intro.className = "choose_button";
        button_basic.className =  "button";
        button_list.className = "button";
        button_product.className = "button";

        page_intro.style.display = "block";
        page_basic.style.display = "none";
        page_list.style.display = "none";
        page_product.style.display = "none";

    }

    function list(){
        if($("#right_page_button").hasClass("right_page_button") && $("#button_list").hasClass("choose_button")) {
            hide();
        } else {
            show();
        }

        button_list.className = "choose_button";
        button_basic.className = "button";
        button_intro.className = "button";
        button_product.className = "button";

        page_list.style.display = "block";
        page_basic.style.display = "none";
        page_intro.style.display = "none";
        page_product.style.display = "none";

    }

    function product(){
        if($("#right_page_button").hasClass("right_page_button") && $("#button_product").hasClass("choose_button")) {

            hide();
        } else {
            show();

        }

        button_product.className = "choose_button";
        button_basic.className = "button";
        button_intro.className = "button";
        button_list.className = "button";

        page_product.style.display = "block";
        page_basic.style.display = "none";
        page_intro.style.display = "none";
        page_list.style.display = "none";

    }

    $("#header").click(function () {
        hide();
    });

    function show() {
        right_page_button.className = "right_page_button";
        right_header.className = "right_header";
        $('#right_page_button').animate({right: '432px'});
        $('#right_header').animate({right: '0px'});
    }

    function hide() {
        $('#right_page_button').animate({right: '0px'});
        $('#right_header').animate({right: '-600px'});
        right_page_button.className = "right_page_button_hide";
        right_header.className = "right_header_hide";
    }
</script>

</body>
</html>