<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WOWKB</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  
<!-- {%include file="$root/template/common/navbar.html"%} -->
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <a href="/prewowkb/Tpl/index.html"><div class="nav choose">主页</div></a>
      <a href="/prewowkb/Tpl/designer.html"><div class="nav">设计</div></a>
      <a href="/prewowkb/Tpl/productsupplier.html"><div class="nav">产品</div></a>
      <a href="/prewowkb/Tpl/service.html"><div class="nav">服务</div></a>
      <a href="/prewowkb/Tpl/about.html"><div class="nav">关于我们</div></a>
      <a href="/prewowkb/Tpl/begincustomize.html"><div class="nav">开始定制</div></a>
      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<a class="back_top" href="#">&#8679;</a>

<div id="body_design">
  <div id="sidebar">      
      <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel">
              <div class="panel-heading" role="tab" id="headingOne">
                  <div class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">BY STYLE
                      </a>
                  </div>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                  <ul id="catogory_list">
                      <li class="secondList">All Styles</li>
                      <li>Mid-century Modern Style</li>
                      <li>Modern Style</li>
                      <li>Art Deco Style</li>
                      <li>Minimalism Style</li>
                      <li>Traditional Style</li>
                      <li>Chinese Style</li>
                      <li>Japanese Style</li>
                      <li>Scandinavian Design Style</li>
                      <li>Eclectic Style</li>
                      <li>Country Style</li>
                  </ul>
              </div>
          </div>
          <div class="panel">
              <div class="panel-heading" role="tab" id="headingTwo">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">BY SIZE RANGE
                      </a>
                  </div>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <a id="catogory_list">
                      <a href=""><li class="secondList">All Size Ranges</li></a>
                      <li>Smaller<span class="comment">< 70 sq. ft</span></li>
                      <li>Small<span class="comment">71 - 100 sq.ft</span></li>
                      <li>Medium<span class="comment">101 - 200 sq. ft</span></li>
                      <li>Large<span class="comment">201 - 400 sq. ft</span></li>
                      <li>Larger<span class="comment">> 400 sq. ft</span></li>
                  </ul>
              </div>
          </div>
          <div class="panel">
              <div class="panel-heading" role="tab" id="headingThree">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">BY SPACE SHAPE
                      </a>
                  </div>
              </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <ul id="catogory_list">
                  <li class="secondList">All Space Shapes</li>
                  <li>Square</li>
                  <li>Rectangle</li>
                  <li>Multiple pattern</li>
              </ul>
          </div>
          </div>
          <div class="panel">
              <div class="panel-heading" role="tab" id="headingFour">
                  <div class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">BY LAYOUT
                      </a>
                  </div>
              </div>
          <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <ul id="catogory_list">
                  <li class="secondList">All Kitchen Layouts</li>
                  <li>One-Wall Kitchen</li>
                  <li>One-Wall with Island</li>
                  <li>L- Shape Kitchen</li>
                  <li>L-Shaped with Island</li>
                  <li>U- Shape Kitchen</li>
                  <li>U-Shaped with Island</li>
                  <li>G- Shape Kitchen</li>
                  <li>Galley Kitchen</li>
              </ul>
          </div>
          </div>
      </div>
    </div><!-- sidebar -->

  
  <div class="right_mainarea">  

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>
       
      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/CO66/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/J5/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>
   
      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K3/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>
       
      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/CO66/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/J5/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>
   
      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K3/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K8/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K10/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/M01/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">欧式奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S1/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S2/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S8/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K3/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="search_designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/CO66/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</br></div>
          </div>
        </div>
      </a>
    </div>


</div><!-- body --> 
</body>
</html>

