<!DOCTYPE html>
<html>
<head>
  <title>WOWKB</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../page/page.css">
  <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <a href="/prewowkb/Tpl/index.html"><div class="nav">主页</div></a>
      <a href="/prewowkb/Tpl/designer.html"><div class="nav">设计</div></a>
      <a href="/prewowkb/Tpl/productsupplier.html"><div class="nav">产品</div></a>
      <a href="/prewowkb/Tpl/service.html"><div class="nav">服务</div></a>
      <a href="/prewowkb/Tpl/about.html"><div class="nav">关于我们</div></a>
      <a href="/prewowkb/Tpl/begincustomize.html"><div class="nav">开始定制</div></a>
      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>
  </div>
  <div id="nav_bg"></div>
</div>


<div id="body_design">
  <div id="container">
    <div id="design_left">
    <div class="design_main">
      <div class="design_main_content">
            <div class="design_project_title">奶油色枫木橱柜定制<span class="title_category">家居设计</span></div>
              <img id="design_main_pic_img" src="../../image/customize/A7/design.jpg">
              <div class="project_intro_detail">
                這是一個歐式廚房櫥櫃，可用於吊櫃、地櫃、高櫃、水槽櫃、通風櫃等。 同時也可以用來擺放冰箱或微波爐。 它還包括對應的整體櫥櫃。標準櫃帶有一個門和至少兩個隔板。 每個燕尾抽屜都有1/2”厚, 可以將廚具放在那裡。 全覆蓋門板為真正的楓木材質有3/4”厚。 另外，櫃門可以根據客戶需要更換為玻璃門。 櫥櫃的側面，抽屜盒可以看到天然清澈的木紋。 櫥櫃的內部材質為天然清晰塗層搭配膠合板。 所有材料和表面均不含揮發性有機化合物。 把手可以根據客戶需求隨意更換。 多種尺寸的櫥櫃可以配合廚房的大小位置靈活擺放。 每個櫥櫃都含有足夠對應的零件用於安裝，並且配有合適的裝飾填料。
              </div>
              <div class="project_intro_parameter">
                  <span class="parameter_title">材質：</span>楓木</br><span class="parameter_title">内部處理：</span>天然清澈木紋、 膠合板</br><span class="parameter_title">顔色：</span>奶油</br><span class="parameter_title">應用：</span>厨房
              </div>
      </div>
    </div>

    <div id="design_related">
      <div id="related_name">相关设计作品</div>
      <div id="related_content">
        <div class="related_content_project">
          <img id="related_pic" src="../../image/customize/CO66/design.jpg">
          <div id="related_title">美式枫木厨房设计设计</div>
          <!-- <div id="related_price">设计师</div> -->
        </div>
        <div class="related_content_project">
          <img id="related_pic" src="../../image/customize/J5/design.jpg">
          <div id="related_title">欧式浴室设计</div>
          <!-- <div id="related_price">设计师</div> -->
        </div>
        <div class="related_content_project">
          <img id="related_pic" src="../../image/customize/K3/design.jpg">
          <div id="related_title">美式浴室设计</div>
         <!--  <div id="related_price">设计师</div> -->
        </div>
        <div class="related_content_project">
          <img id="related_pic" src="../../image/customize/K8/design.jpg">
          <div id="related_title">欧式厨房设计</div>
          <!-- <div id="related_price">设计师</div> -->
        </div>
        <div class="related_content_project">
          <img id="related_pic" src="../../image/customize/K10/design.jpg">
          <div id="related_title">美式厨房设计</div>
          <!-- <div id="related_price">设计师</div> -->
        </div>      
      </div>
    </div>

  </div><!-- design_left -->

  <div id="side_right">
      <div class="sidebar_right">
        <div class="design_project_designer">
          <img id="design_project_designer_head" src="../../image/head.png">
          <div class="design_project_designer_intro">
            <h5>Sarah XXX</h5>
<!--             <div class="designer_catogory">家居设计 ｜ 空间规划 ｜ 室内装修</div> -->
            <div class="design_project_designer_des">擅长厨房与卫生间家居设计。擅长传统风格并融入中国传统元素。</div>
          </div>       
        </div>
        <div class="design_sidebar_gapline"></div>
        <div class="design_project_detail_price"><div class="price_title"></div><span class="price_number"><div class="dropdown">$10,000- 20,000.00<div class="dropdown-content"><p>包括：</br>设计费用，购买材料，施工服务，其他</p></div></div></span></div>   
        <button class="buyButton">开始定制</button>
      
      </div><!-- sidebar_right -->

      <div id="sidebar_use_product">
        <div id="sidebar_use_title">设计使用到的物料</div>
  <div id="sidebar_use_content">

  <div id="myCarousel" class="carousel slide" >

    <!-- Wrapper for slides -->
    <div class="carousel-inner use_product" role="listbox">

      <div class="item active">
          <a href="#"><div id="sidebar_material_pic">
            <img src="../../image/customize/A7/material.jpg" alt="chair">
          </div></a>
          <a href="#"><div id="sidebar_use_name">奶油色枫木</div></a>
          <!-- <div id="sidebar_use_num">1/5</div> -->
      </div>  
    </div>

    <!-- Left and right controls -->
    <!-- <a class="left use_product_control_left" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right use_product_control_right" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> -->
  </div>
      </div><!-- sidebar_use_content -->
  </div>
    </div><!-- side_right -->
  </div><!-- container -->
</div><!-- body -->
</body>
</html>