<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="search.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://use.fontawesome.com/99d52acf31.js"></script>
</head>
<body>
<nav id="navtop" role="navigation" class="navbar navbar-fixed-top navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  id="nav_logo" href="designs.html" class="navbar-brand">
                <img id="nav_logo_pic" src="../../image/logo4.png">
            </a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><div id="nav_sign_signin">TO BE OUR DESIGNER</div></a></li>
                <li><a href="#"><div class="nav_option"><i class="fa fa-user" aria-hidden="true"></i></div></a></li>               
            </ul>
        </div>
</nav>

<div id="showArea">
  <div class="search_slogan big_title">
    <span class="slogan_top">We Design</span>
    </br>Your Dream Kitchen

    <div class="index_search">
      <form>
        <input class="search_text" type="text">
        <input class="search_button" type="button" value="Search">
        <div class="search_drop"></div>
      </form>   
    </div>
    
    <a href="#index_body"><div class="header_start"><i class="fa fa-angle-down" aria-hidden="true"></i></div></a>
  </div>
  <div class="showArea_bg"></div>
  <img id="showArea_pic" src="../../image/headerPic.jpg">
</div>


<div id="index_body">
  <div class="project_title_blank"></div>
  
  <div class="temp_mainArea">  
 <div class="project_title_blank">
    <div class="gap_content_each">
      <img class="index_icon" src="../../image/index_icon2.png">
      <div><h4>Professional design</h4>Seen the real effect of the extremely large amounts of designs.</div>
    </div>
    <div class="gap_content_each">
      <img class="index_icon" src="../../image/index_icon4.png">
      <div><h4>Real Products</h4>All the products and commodities in our designs can be bought.</div>
    </div>
    <div class="gap_content_each">
      <img class="index_icon" src="../../image/index_icon3.png">
      <div><h4>Best Service</h4>We provide great design services with the full refund guarantee if you are not satisfied.</div>
    </div>
  </div>
  <div class="project_title_blank"></div>

  <div class="index_project_title project_title_blank">
    <div class="index_title">NEW PROJECTS</div>
<!--     <span class="project_title_category">家居设计</span>
   <span class="project_title_category">空间设计</span>
   <span class="project_title_category">装修设计</span> -->
    <a href="" class="more_design">More</a>
  </div> 
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜</div>
          </div>
        </div>
      </a>
       
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="des0igns_project_pic">
            <img class="designs_project_pic" src="../../image/customize/CO66/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/J5/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>
   
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K3/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S2/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>
       
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S1/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S8/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>
   
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/M01/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

 <div class="index_project_title project_title_blank">
    <div class="index_title">HOT PROJECTS</div>
<!--    <span class="project_title_category">橱柜</span>
   <span class="project_title_category">台面</span>
   <span class="project_title_category">油漆</span>
   <span class="project_title_category">电器</span>
   <span class="project_title_category">地板</span>
   <span class="project_title_category">墙砖</span>
   <span class="project_title_category">门窗</span> -->
    <a href="" class="more_design">More</a>
  </div>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K8/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K10/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/M01/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">欧式奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S1/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>



 <div class="index_project_title project_title_blank">
  <div class="index_title">PICKED PROJECTS</div>
   <span class="project_title_category">Modern Style</span>
   <span class="project_title_category">Minimalism Style</span>
   <span class="project_title_category">Mid-century Modern Style</span>
   <span class="project_title_category">Country Style</span>
   <span class="project_title_category">Traditional Style</span>
   <span class="project_title_category">Art Deco Style</span>
   <a href="" class="more_design">More</a>
  </div>
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S2/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S8/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K3/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/CO66/design.jpg">
          </div>
          <div class="project_collect_intro">
            <div class="admin_collect_title">奶油色枫木橱柜定制</div>
          </div>
        </div>
      </a>
    </div>
</div><!-- body -->

</div>
<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li><strong>ABOUT US</strong></li>
            <li>Projects</li>
            <li>Services</li>
            <li>Career</li>
            <li>Terms</li>
            <li>Privacy</li>
            <li>Copyright</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">          
            <li><strong>PARTNERSHIP</strong></li>
            <li>Designer</li>
            <li>Product</li>
            <li>Service</li>      
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">          
            <li><strong>CONTACT US</strong></li>
            <li>customerservice@wowkb.com</li>
            <li>Office Hour: 10:00a.m. - 7:00p.m.</li>
            <li>97 E Brokaw Rd, #310, San Jose, CA 95112</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li><i class="fa fa-facebook fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-instagram fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-twitter fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-linkedin fa-lg icon_bottom" aria-hidden="true"></i>
            </li>
            <li><div class="sharethis-inline-share-buttons"></div></li>
          </ul>
        </div>
      </div>
    </div>
</div>
</body>
</html>

