<!DOCTYPE html>
<html>
<head>
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <!-- <a href="/prewowkb/Tpl/index.html"><div class="nav choose">Home</div></a> -->
      <a href="/prewowkb/Tpl/designer.html"><div class="nav">Design</div></a>
      <a href="/prewowkb/Tpl/productsupplier.html"><div class="nav">Product</div></a>
      <a href="/prewowkb/Tpl/service.html"><div class="nav">Service</div></a>
      <a href="/prewowkb/Tpl/about.html"><div class="nav">About</div></a>
      <a href="/prewowkb/Tpl/begincustomize.html"><div class="nav">Customize</div></a>
      <!-- <a href=""><div class="nav">Register</div></a> -->
      <a href=""><div id="nav_sign_signin">Log In</div></a>
  </div>
  <div id="nav_bg"></div>
</div>

<div id="showArea">
  <div id="search_slogan">Customize Your Dream Kitchen</div>
  <div class="showArea_bg"></div>
    <img id="showArea_pic" src="../../image/title.png">
</div>

<div id="body">
  <div class="index_project_title">Custom Furniture Design
</div>
  <div class="temp_mainArea">   
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>
       
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/CO66/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/J5/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>
   
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K3/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K8/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K10/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/M01/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S1/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S2/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S8/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/K3/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>

      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/CO66/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">American Style Red Maple Cabinet</div>
            <div class="project_labels"><span class="designs_project_label">Cabinet</span></div>
          </div>
        </div>
      </a>
    </div>

<!-- 
  <div class="index_project_title">室内翻新改造</div>
  <div class="temp_mainArea">   
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S2/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式红色枫木橱柜</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span></div>
          </div>
        </div>
      </a>
       
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/S8/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式红色枫木橱柜</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span></div>
          </div>
        </div>
      </a>

              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式红色枫木橱柜</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span></div>
          </div>
        </div>
      </a>
   
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式红色枫木橱柜</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span></div>
          </div>
        </div>
      </a>
    </div>


  <div class="index_project_title">房屋加建改建</div>
  <div class="temp_mainArea">   
      <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式田园风格厨房</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span><span class="designs_project_label">台面</span><span class="designs_project_label">地板</span><span class="designs_project_label">墙砖</span><span class="designs_project_label">橱柜</span><span class="designs_project_label">台面</span><span class="designs_project_label">地板</span><span class="designs_project_label">墙砖</span></div>
          </div>
        </div>
      </a>
       
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式田园风格厨房</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span><span class="designs_project_label">台面</span><span class="designs_project_label">地板</span><span class="designs_project_label">墙砖</span></div>
          </div>
        </div>
      </a>

              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式田园风格厨房</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span><span class="designs_project_label">台面</span><span class="designs_project_label">地板</span><span class="designs_project_label">墙砖</span></div>
          </div>
        </div>
      </a>
   
              <a href="design_detail.html">
        <div class="designs_project">
          <div class="designs_project_pic">
            <img class="designs_project_pic" src="../../image/customize/A7/design.jpg">
          </div>
          <div class="design_project_price">$9999-$19,999</div>
          <div class="admin_collect_intro">
            <div class="admin_collect_title">美式红色枫木橱柜</div>
            <div class="project_labels"><span class="designs_project_label">橱柜</span><span class="designs_project_label">台面</span><span class="designs_project_label">地板</span><span class="designs_project_label">墙砖</span></div>
          </div>
        </div>
      </a> -->
    </div>

<div class="step_section">
  <div class="section_title">
    <h4>Service Process</h4>
    <p>Five Steps to solve the problems of decoration and customization. It's simple, easy and pleasant.</p>
  </div>

    <div class="step_center">
      <div class="line_dot">1</div>
      <div class="line_dot dot_margin1">2</div>
      <div class="line_dot dot_margin2">3</div>
      <div class="line_dot dot_margin3">4</div>
      <div class="line_dot dot_margin4">5</div>
      <div class="step_line"></div>
    </div>

  <div class="design_steps">
    <div class="step_left">
      <div class="each_step">
        <div class="step_inside_right">
         <!--  <div id="step_icon">1</div>
 -->          <h4>Online Consulting</h4>
          <p>Online viewing designs ang products, communicate your idea and inspiration with designers, product sales and constructors.</p>
        </div>
      </div>
      <div class="step_blank"></div>
      <div class="each_step">
        <div class="step_inside_right">
         <!--  <div id="step_icon">3</div> -->
          <h4>Come to Measure</h4>
          <p>Booking come to measure service, assure the accuracy of space plan, placement of household, structure and size measurement.</p>
        </div>
      </div>
      <div class="step_blank"></div>
      <div class="each_step">
        <div class="step_inside_right">
         <!--  <div id="step_icon">5</div> -->
          <h4>Design Service</h4>
          <p>绘制房屋图纸，设计效果图；</p>
        </div>
      </div>
    </div>
    <div class="step_right">
      <div class="step_blank"></div>
      <div class="each_step">
        <div class="step_inside_left">
         <!--  <div id="step_icon">2</div> -->
          <h4>Purchase Material</h4>
          <p>精心挑选产品，包括品牌、材质、颜色、尺寸、价格；</p>
        </div>
      </div>
      <div class="step_blank"></div>
      <div class="each_step">
        <div class="step_inside_left">
         <!--  <div id="step_icon">4</div> -->
          <h4>Construction Service</h4>
          <p>专业的施工技能，精确的施工图纸、正确的产品组装和安装方法，保障方案的实施；</p>
        </div>
      </div>
      <div class="step_blank"></div>
    </div>
  </div>
  <a href="#"><div class="line_button">Customize</div></a>
</div>
</div>
</body>
</html>

