<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wow Kitchen & Bath</title>
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../common/css/common_temp.css">
  <link rel="stylesheet" type="text/css" href="../common/css/common.css">
  <link rel="stylesheet" type="text/css" href="../common/css/temporary.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="navbar">
  <div id="nav_logo">
      <img id="nav_logo_pic" src="../../image/logo4.png">
  </div>
  
  <div id="nav_link1">
      <a href="/prewowkb/Tpl/index.html"><div class="nav">主页</div></a>
      <a href="/prewowkb/Tpl/designer.html"><div class="nav choose">设计</div></a>
      <a href="/prewowkb/Tpl/productsupplier.html"><div class="nav">产品</div></a>
      <a href="/prewowkb/Tpl/service.html"><div class="nav">服务</div></a>
      <a href="/prewowkb/Tpl/about.html"><div class="nav">关于我们</div></a>
      <a href="/prewowkb/Tpl/begincustomize.html"><div class="nav">开始定制</div></a>
      <a href=""><div class="nav">注册</div></a>
      <a href=""><div id="nav_sign_signin">登陆</div></a>

  </div>
  <div id="nav_bg"></div>
</div>

<a class="back_top" href="#">&#8679;</a>

<div class="page_intro">
  <div class="page_intro_up">
    <h2>设计师入驻</h2>
  </div>
  <div class="pageheader_bg"></div>
  <img class="pageheader" src="../../image/pageheader.png">  
</div>

<div id="body">
  <div class="page_intro_top">
    设计是产品的核心，WOWKB为设计师搭建了一个展现个人专业与价值的平台，无论您是家居定制设计师，空间设计师，室内设计师，建筑与景观设计师，只要您通过培训与考核，就可以成为WOWKB的专业定制设计师； 
    <div class="construct_price_button">申请加入</div> 
  </div>

  <div class="white_panel">
  	<h4>WOWKB能为您带来什么？</h4>
  	<div class="panel_box">
  		<img src="../../image/designer_icon1.png">
  		<div class="panel_intro">
  			<h4>支持</h4>
  			免费提供设计软件、模型、作品、物料、供应商、定制服务软件等支持，无需任何成本
  		</div>
  	</div>
  	<div class="panel_box">
  		<img src="../../image/designer_icon2.png">
  		<div class="panel_intro">
  			<h4>稳定的收入</h4>
  			我们提供订单支持，您只需提供专业服务就可以有稳定收入
  		</div>
  	</div>
  	<div class="panel_box">
  		<img src="../../image/designer_icon3.png">
  		<div class="panel_intro">
  			<h4>高效</h4>
  			强大的技术支持，无需浪费时间与精力，让设计服务简单高效
  		</div>
  	</div>
  </div><!-- white_panel -->

  <div class="designer_process">
  	<h4>申请流程</h4>
  	<div class="process_content">
  		<div class="process_left">
  			<div class="process_box bubble">
  				<img src="../../image/designer_step1.png">
  				<div class="process_box_intro">
  					<h4>在线填写申请表</h4>
  				</div>		
  			</div>
  			<div class="process_box bubble">
  				<img src="../../image/designer_step3.png">
  				<div class="process_box_intro">
  					<h4>业务培训</h4>
  					我们会安排时间进行业务培训课程
  				</div>
  			</div>
  			<div class="process_box bubble">
  				<img src="../../image/designer_step5.png">
  				<div class="process_box_intro">
  					<h4>开通账户</h4>
  					在作品审核通过后，我们会开通您的设计服务账户
  				</div>
  			</div>
  		</div>
  		<div class="process_center right_center_blank">
  			<div class="process_center_circle_stay">1</div>
  			<div class="process_center_circle_stay">2</div>
  			<div class="process_center_circle_stay">3</div>
  			<div class="process_center_circle_stay">4</div>
  			<div class="process_center_circle_stay">5</div>
  			<div class="process_center_circle_stay">6</div>
  		</div>
  		<div class="process_right">
  			<div class="process_box bubble_left">
  				<img src="../../image/designer_step2.png">
  				<div class="process_box_intro">
  					<h4>背景调查</h4>
  					我们需要确认您的信息完整与真实
  				</div>
  			</div>
  			<div class="process_box bubble_left">
  				<img src="../../image/designer_step4.png">
  				<div class="process_box_intro">
  					<h4>作品审核</h4>
  					您需要提交至少三个设计作品进行审核
  				</div>
  			</div>
  			<div class="process_box bubble_left">
  				<img src="../../image/designer_step6.png">
  				<div class="process_box_intro">
  					<h4>开始服务</h4>
  					您可以正式开始接受订单，开始您的设计服务
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
<!-- 
  <div class="white_panel">	 -->
  	<div class="page_intro_top">
  		<h4>如何成为WOWKB的合作设计师？</h4>
    为了确保可以提供专业的设计服务，您需要通过严格的专业与背景调查，业务培训和作品审核，才可以成为WOWKB的合作设计师。 
    <div class="construct_price_button">申请加入</div> 
<!--   </div> -->

  </div>
</div>
<div id="bottombar">
    <div class="bottom_content">
      <div class="bottom_link">
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li><strong>ABOUT US</strong></li>
            <li>Company</li>
            <li>Projects</li>
            <li>Services</li>
            <li>Career</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">          
            <li><strong>PARTNERSHIP</strong></li>
            <li>Design</li>
            <li>Product</li>
            <li>Service</li>
            <li>Terms</li>
            <li>Privacy</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">          
            <li><strong>CONTACT US</strong></li>
            <li>WOWKB.Inc</li>
            <li>customerservice@wowkb.com</li>
            <li>Office Hour: 10:00a.m. - 7:00p.m.</li>
            <li>97 E Brokaw Rd, #310, San Jose, CA 95112</li>
          </ul>
        </div>
        <div class="bottom_blank"></div>
        <div class="bottom_link_line">
          <ul class="bottom_list">
            <li><i class="fa fa-facebook fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-instagram fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-twitter fa-lg icon_bottom" aria-hidden="true"></i><i class="fa fa-linkedin fa-lg icon_bottom" aria-hidden="true"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
</body>
</html>